# Intellij
# For this project, ignoring the whole .idea folder is okay.
# See : http://stackoverflow.com/q/26336709/1975002
# In some other projects, folders like copyright, inspectionProfiles, and files like codeStyleSettings.xml would be interesting to share across the dev team.
/.idea/
*.iml

# Other
/src/draft.sc
/src/serie2-draft.sc
